<html>
    <head>

    </head>
    <body>
        <h1>hello bob</h1>

        <table>
  {{#rows}}
<tr>
  <td>{{mid}}</td>
  <td>{{name}}</td>
  <td>{{count}}</td>
  <td>{{brand}}</td>
</tr>
  {{/rows}}
</table>
    </body>
</html>